
body{
   background-color: blue;
}

section{
    width:  75%;
    margin: 5rem auto;
    padding: 2% 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    border-radius: 15px;
}

.cabecalho{
    background-color: white;
    text-align: center;
    width:  100%;
    margin: -1.5rem 0;
    color: #444; 
    box-shadow: 5px 5px 5px gray;
}
.navegacao{
    background-color: white;
    text-align: center;
    padding: 5px;
    margin: -2rem 0;
    color: purple;
    font-style: italic;
    box-shadow: 5px 5px 5px gray;
}
